<div class="container" style="margin-top: 100px;">
  <h1>餐廳後台</h1>
  <div class="row justify-content-between">
    <div class="mt-3 ml-3">
      <a href="/admin/restaurants">餐廳列表</a> |
      <a href="/admin/users">使用者列表</a> |
      <a href="/admin/categories">分類清單</a>
    </div>
    <div class="mr-3">
      <a href='/admin/users/create'><button type="button" class="btn btn-light" disabled>新增使用者</button></a>
    </div>
  </div>
  <hr>
  {{> message}}
</div>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col-2">User ID</th>
        <th scope="col-3">Email</th>
        <th scope="col-3">Role</th>
        <th scope="col-4">Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.email}}</td>
        <td>{{#if this.isAdmin}}admin {{else}} user {{/if}}</td>
        <td>
          <form action="/admin/users/{{this.id}}?_method=PUT" method="POST"
            onsubmit="return window.confirm('確定要變更使用者{{this.email}}身份嗎？')">
            <button type="submit" style="border: none; background-color:white;">{{#if this.isAdmin}}set as
              User{{else}}set as Admin{{/if}}</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>