<div class="container">
  <div class="row">
    <div class="col-12">
      <a href="/restaurants/{{restaurant.id}}/dashboard" style="float: right;"><button
          class="btn btn-outline-secondary btn-sm">DASHBOARD</button></a>
    </div>
    <div class="col-md-12">
      <h1>{{restaurant.name}}</h1>
      <h6>{{restaurant.Category.name}}</h6>
    </div>
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px;margin-bottom: 25px;">
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>Opening Hour:</strong> {{restaurant.opening_hours}}</li>
          <li><strong>Tel:</strong> {{restaurant.tel}}</li>
          <li><strong>Address:</strong> {{restaurant.address}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <p>{{restaurant.description}}</p>
    </div>
    <hr>
  </div>
  <form action="/comments" method="POST">
    <div class="form-group">
      <label for="text">Comment：</label>
      <textarea class="form-control" id="text" name="text" rows="3"></textarea>
    </div>
    <input type="hidden" name="restaurantId" value="{{restaurant.id}}" />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br />
  <hr>
  <h4>所有評論：</h4>
  <br />
  {{#each restaurant.Comments}}
  {{#if ../user.isAdmin}}
  <form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="float: right;"
    onsubmit="return confirm('確定要刪除這則留言嗎？')">
    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
  </form>
  {{/if}}
  <blockquote class="blockquote mb-0">
    <div class="mb-3">
      <a href="/users/{{this.User.id}}">
        <img src="{{this.User.image}}" alt="" width="35px" height="35px" style="border-radius: 100%; margin-right:5px">
        {{this.User.name}}</a>
    </div>
    <div>
      <p>{{this.text}}</p>
      <footer class="blockquote-footer"> {{moment this.createdAt}}</footer>
    </div>
  </blockquote>
  <hr />
  {{/each}}
  <br />
  <a href="javascript:history.back()">回上一頁</a>
</div>
<br />
<br />
<br />